:root{
    --blanco: #ffffff;
    --negro: #000000;
    --principal: #1b325f;
    --secundario: #e9f2f9;
    --secundarioOscuro: #b9d0e2;
    --resaltado: #f26c4f;

    --fuentePrincipal: "Fjalla One", sans-serif; font-weight: 700;  letter-spacing: 0.2rem;
    --fuente_secundaria : "Libre Baskerville", sans-serif; font-weight: 400;
}

html{
    box-sizing: border-box;
    font-size: 62.5%; /* 1 rem = 10px */
}
*, *::before ::after{
    box-sizing: inherit;
}

body{
    font-size: 1.8rem;

    background-color: var(--blanco);
    margin: 1rem 0rem;

    color: var(--negro);
    font-family: var(--fuente_secundaria);
}

h1, h2, h3, h4{
    text-align: center;
    font-family: var(--fuentePrincipal);
}

h1{ font-size: 5rem;}

h2{ 
    font-size: 3rem; 
    padding: 1rem;
    color: var(--blanco);
    
    background-color: var(--principal);
}

h3{ font-size: 2.5rem;}

h4{ font-size: 2rem;
    color: var(--resaltado);
}

a{ 
    text-decoration: none; 
    font-weight: bold;
    color: var(--negro);
}

a:hover{ 
    color: var(--resaltado);
}

span{
    font-weight: 900;
    color: #f26c4f;
}

section{
    margin-bottom: 5rem;
}

.contenedor{
    width: 85%;
    margin: 0 auto;
}  

.borderRadius{
    border-radius: 2rem;
}

/* header */
.img-logo{
    height: 5rem;
}

.contenido-header{
    text-align: center;
}

.nav-principal{
    display: flex;
    flex-direction: column;
    gap: 1rem;

    margin: 1rem 0rem;
}

@media (min-width: 768px) {
    .contenido-header{
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    .nav-principal{
        display: flex;
        flex-direction: row;
        gap: 1rem;
    }
}

/* video */
video{
    display: block;
    width: 100%; 
}

.video{
    position: relative;
    max-height: 50rem;
    min-height: 35rem;
    overflow: hidden;

    margin-bottom: 5rem;
}

.overlay{
    position: absolute;
    inset: 0;

    display: flex;
    align-items: center;
}

.contenido-video{
    text-align: center;
}

/* SKILLS */

.princ-subcontenedor{
    text-align: center;
    padding: 1rem;
}



/*section_LetGetInTouch*/
.letGetInTouch{
    background-color: var(--principal);
    padding: 2rem;

    margin-bottom: 0rem;
}

.letGetInTouch_Cont{
    display: flex;
    gap: 9rem;
    margin: 0 auto;

    width: 80%;
}

/* Form */

.form{
    margin: 0 auto;

    color: var(--blanco);
}

.campo{
    text-align: center;
}

.campo label{
    font-weight: 700;
}

.inputText{
    border: none;
    border-radius: 0.5rem;
    width: 100%;

    font-size: 1.8rem;

}

.inputText{
    margin-top: 0.5rem;
    padding: 0.5rem;
}

.form-submit{
    text-align: center;
    margin-top: 3rem;

    border-radius: 1rem;
}

label {
    display: block;
}

.form button{
    background-color: var(--secundario);
    border: transparent 0.1rem solid;
    padding: 1rem 3rem;

    cursor: pointer;
}

.form button:hover{
    background-color: var(--secundarioOscuro);
}

.form-content{
    display: flex;
    flex-direction: column;
    gap: 2rem;
}

.carrera{
    padding: 1rem 2rem;
    border-radius: 1rem;

    font-family: var(--fuente_secundaria);
    size: 0cap;
}

/* footer */

.grid_footer{
    display: flex;
    justify-content: space-between;

    padding: 2rem;
    gap: 5rem;
}

.links-footer{
    text-align: right;
}

a:hover svg {
    stroke: var(--resaltado); /* Cambia el color del trazo (stroke) en hover */
}


