/* Main */
/* languages */
.languages{
    display: flex;
    justify-content: space-evenly;
    gap: 5rem;
}

.languages-flex h4, 
.languages-flex p{
    color: #000000;
    text-align: center;
}

.languages-flex{
    flex: 1;
    max-width: 35rem;
    background-color: rgb(246, 238, 238);
}

.languages-flex:hover {
    transform: scale(1.1); /* (150% zoom - Note: if the zoom is too large, it will go outside of the viewport) */
  }

  /* SKILLS  */
.flex_skills{
    margin: 0 auto;
    max-width: 75%;

    display: flex;
    justify-content: space-around;
    align-items: center;

    flex-wrap: wrap;
    gap: 3rem 2rem;
}

.img_skills{
    max-height: 7rem;      /* La imagen ocupa toda la altura disponible */
    width: auto;       /* El ancho se ajusta automáticamente */
    object-fit: cover; /* Recorta la imagen para llenar el área */
}

.img_skills:hover{
    transform: scale(1.2);
}

/* education */

.education{
    background-color: var(--principal);
    padding: 3rem;

    color: var(--blanco);
}

.centrado{
    text-align: center;
}

/* Relevant Projects*/
.projects_grid{
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.div_projects_grid{
    background-color: var(--secundario);
    padding: 2rem 3rem;

    display: flex; 
    flex-direction: column;
    gap: 2rem;
}

.div45{
    display: flex;
    flex-wrap: wrap;
    gap: 2rem;
    justify-content: space-between;
    align-items: center
}

.div46{
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    gap: 1rem;
}

.indSkill{
    background-color: var(--principal);
    padding: 1rem 2rem;
    color: var(--blanco);
}

.grid-img{
    max-width: 100%; /* La imagen no excederá el ancho de su contenedor */
    height: auto; /* Mantiene la proporción de la imagen */
    flex: 1 1 auto; /* Permite que la imagen ocupe el espacio disponible */

}

.centrado-vertical{
    display: flex;            /* Activa Flexbox */
    justify-content: center;  /* Centra horizontalmente */
    align-items: center;      /* Centra verticalmente */

}

@media (min-width: 768px){
    .div_projects_grid{
        flex-direction: row;
    }
}

